nav {
      position: relative;
      padding-top:  15rem;

}
nav,.nav__right{
      
      display: flex;
      justify-content: space-between;
      align-items: start;
      
}
.nav__right{
      align-items: center;
      gap: 7.2rem;

}
.nav__right select{
      font-family: var(--my-font2);
      font-weight: 400;
     cursor: pointer;
     width: 8rem;
     color: var(--color-white);
      background-color: transparent;
  gap: 2rem;

}
.nav__right  option{
background-color: var(--color-black);
}
header{

      position: relative;
}
.header_right{
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
}

.header__left h1{
      margin-top: 13.5rem;
 max-width: 74.6rem;
}
.header__left p{
      margin-top: 3rem;
      max-width: 37rem;
      
}
.header__left__link {
      margin-top: 3rem ;
     
}
.header__left__link a{
      display: flex;
      align-items: center;
      gap: 4rem;
     
}

@media (max-width:500px){
      .nav__right select{
            display: none;
      }


}