*, *::after,  *::before{
box-sizing: inherit;
margin: 0;
padding: 0;
border: 0;
outline: 0;
}
:root{
      --my-font2:'Poppins', sans-serif;
      --color-black:#0E0E0E;
      --color-white:white;
      --color-yellow: #FDCE00
}
html{
      font-size: 62.5%;
}
body{

background-color: var(--color-black);
color:var(--color-white) ;
font-family: var(--main-font1);
font-style: normal;
font-size: 1.6rem;

}
a {
      font-family: var(--my-font2);
      color: var(--color-white);
      font-weight: 500;
      font-size: 3.2rem;
text-decoration: none;

}


@font-face {
      font-family: myFont1;
      src: url(../fonts/BebasNeue\ Bold.otf);
}

h1,h2{
      font-family: myFont1;

}
h1{
      font-size: 12rem;
      font-weight: 700;
      line-height: 120px;
letter-spacing: -1.8px;
}

p{
      margin-top: 3rem;
      font-family: var(--my-font2);
      font-weight: 400;
line-height: 2.4rem;
}
.header__left__link span:nth-child(2){
      width: 6rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background-color: var(--color-yellow);
      color: var(--color-black);
     
}
.container{
      margin: 0 auto;
      max-width: 100.5rem;
}
@media (max-width:1100px){
      h1{
            font-size: 4.4rem;
            line-height: 48px; /* 109.091% */
letter-spacing: -0.66px;
      }
      a{
            font-size: 2.4rem;
      }
      .header__left__link span:nth-child(2){
            width: 4rem;
            height: 4rem;
     
}
.container{
      padding: 3rem;
}
      

}