*, *::after,  *::before{
box-sizing: inherit;
margin: 0;
padding: 0;
border: 0;
outline: 0;
}
:root{
      --my-font2:'Poppins', sans-serif;
      --color-black:black;
      --color-white:white
}
html{
      font-size: 62.5%;
}
body{

background-color: var(--color-black);
color:var(--color-white) ;
font-family: var(--main-font1);
font-style: normal;
font-size: 1.6rem;

}
a {
text-decoration: none;

}

a:hover {
text-decoration: underline;
}
@font-face {
      font-family: myFont1;
      src: url(../fonts/BebasNeue\ Bold.otf);
}

h1,h2{
      font-family: myFont1;

}
h1{
      font-size: 12rem;
      font-weight: 700;
      line-height: 120px;
letter-spacing: -1.8px;
}

p{
      font-family: var(--my-font2);
      font-weight: 400;
line-height: 2.4rem;
}
.container{
      margin: 0 auto;
      max-width: 100.5rem;
}